.container {
  border: 4px solid gray;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.box-wrapper {
  display: flex;
  align-items: center;
}

.box {
  border: 4px solid blue;
  height: 100px;
  width: 100px;
}

.box-small {
  border: 2px solid gray;
  height: 50px;
  width: 50px;
  margin-left: 24px;
}
